* {
   box-sizing: border-box; 
   padding: 0;
   margin: 0;
}

.block {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    padding: 50px;
    border-radius: 50%;
    border-right-width: 10px;
    border-top-width: 10px;
    border-right-color: rgb(17, 17, 17);
    margin: 0 auto;
}

.block2 {
    width: 200px;
    height: 200px;
    padding: 50px;
    background-color: cadetblue;
    transition: 500ms;
}

.block2:hover { 
    background-color: aqua;
    border-radius: 0;
    transform: rotate(180deg);
    transition: 700ms;
}

.block-mini {
    width: 50px;
    height: 50px;
    background-color: aqua;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: 200ms;
}

h1:hover {
    transform: scale(1.2);
    color: tomato;
    transition: 500ms;
}
