@font-face {
    font-family: 'standart';
    src: url(../fonts/UbuntuCondensed-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'standart';
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px #ddd;
    z-index: 999;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.headerBlock img {
    width: 70px;  
}

.headerBlock nav {
    display: flex;
    gap: 20px;
}

.headerBlock nav a {
    position: relative;
    font-size: 20px;
    color: white;
}

.headerBlock nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    height: 2px;
    width: 0%;
    background-color: #ffffff;

    transition: 0.3s;
}

.headerBlock nav a:hover::after {
    width: 100%;
}

.main {
    margin-top: 90px;
    height: 95vh;
    position: relative;
    background-image: url(../image/ronalduUdar.jpg);
}

.main img {
    background-color: white;
    border-radius: 50%;
    border: 0px solid black;
}

.mainTxt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
}


